<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_property_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>bg_property_copper.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,48},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>bg_property_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,48},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>bg_property_silvery.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,58}}</string>
                <key>sourceSize</key>
                <string>{134,58}</string>
            </dict>
            <key>icon_big_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{45,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buid_panel.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a889fee397aae2c4f5f89d614cd3b04:1/1$</string>
            <key>textureFileName</key>
            <string>buid_panel.png</string>
        </dict>
    </dict>
</plist>
