<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>domain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,451},{77,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,51}</string>
            </dict>
            <key>domain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{107,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,72}}</string>
                <key>sourceSize</key>
                <string>{109,72}</string>
            </dict>
            <key>domain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,503},{122,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,69}}</string>
                <key>sourceSize</key>
                <string>{124,71}</string>
            </dict>
            <key>domain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,317},{133,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{133,87}}</string>
                <key>sourceSize</key>
                <string>{135,91}</string>
            </dict>
            <key>domain_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,179},{137,95}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{137,95}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>domain_fight_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,75},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>qiguozhi_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{898,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,549}}</string>
                <key>sourceSize</key>
                <string>{898,549}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>domain_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35702d1c65493357a7788eb6f13dec5e:1/1$</string>
            <key>textureFileName</key>
            <string>domain_ui.png</string>
        </dict>
    </dict>
</plist>
