<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12013_1attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_1attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_1attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_1attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_1attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,400},{110,66}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,66},{110,66}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_1attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,253},{142,74}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,60},{142,74}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_1attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{158,88}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{158,88}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_1attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,91},{154,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,82}}</string>
                <key>sourceSize</key>
                <string>{154,82}</string>
            </dict>
            <key>12013_2attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_2attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_2attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_2attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_2attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,396},{112,66}}</string>
                <key>offset</key>
                <string>{28,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,68},{112,66}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_2attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,257},{142,76}}</string>
                <key>offset</key>
                <string>{20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{142,76}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_2attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,88}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{160,88}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_2attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,91},{154,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,82}}</string>
                <key>sourceSize</key>
                <string>{154,82}</string>
            </dict>
            <key>12013_3attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_3attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_3attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_3attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_3attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,174},{122,64}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,104},{122,64}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_3attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{132,80}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,92},{132,80}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_3attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,87},{156,86}}</string>
                <key>offset</key>
                <string>{34,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,68},{156,86}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_3attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{148,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,80}}</string>
                <key>sourceSize</key>
                <string>{148,80}</string>
            </dict>
            <key>12013_4attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_4attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_4attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_4attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_4attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,174},{122,64}}</string>
                <key>offset</key>
                <string>{23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,112},{122,64}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_4attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,174},{134,78}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,105},{134,78}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_4attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{154,86}}</string>
                <key>offset</key>
                <string>{34,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,77},{154,86}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_4attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{148,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,80}}</string>
                <key>sourceSize</key>
                <string>{148,80}</string>
            </dict>
            <key>12013_5attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_5attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_5attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_5attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{1,1}}</string>
                <key>offset</key>
                <string>{-124.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_5attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,396},{112,72}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,98},{112,72}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_5attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,253},{142,70}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,102},{142,70}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_5attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{160,84}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,93},{160,84}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>12013_5attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{156,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,78}}</string>
                <key>sourceSize</key>
                <string>{156,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12021.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bafa443f4eaffe15b1e526c30349923c:1/1$</string>
            <key>textureFileName</key>
            <string>12021.png</string>
        </dict>
    </dict>
</plist>
