<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13011_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,143},{102,54}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,159},{102,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>13011_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,140}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,90},{136,140}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>13011_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{102,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,82},{102,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>13011_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{88,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,83},{88,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13011.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:452bd5c653a2987b6c84169a650274f7:1/1$</string>
            <key>textureFileName</key>
            <string>13011.png</string>
        </dict>
    </dict>
</plist>
