<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13021_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{46,30}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,145},{46,30}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>13021_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,132},{50,36}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,140},{50,36}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>13021_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{54,40}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,138},{54,40}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>13021_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{62,42}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,137},{62,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>13021_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,65},{66,46}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,134},{66,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>13021_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{72,50}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,134},{72,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>13021_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{76,56}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,130},{76,56}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>13021_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,58}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,124},{80,58}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13021.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8d4dc8c32fdc4afe71dbb97d5568c36:1/1$</string>
            <key>textureFileName</key>
            <string>13021.png</string>
        </dict>
    </dict>
</plist>
