<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13031_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{91,94}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,49},{91,94}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13031_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{129,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,32},{129,126}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13031_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{131,130}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,28},{131,130}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13031_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{127,124}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,29},{127,124}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13031_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,130}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,25},{131,130}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13031_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,129},{127,126}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{127,126}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13031_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{123,118}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,33},{123,118}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13031_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{123,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,35},{123,120}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13031.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03d1c930958a4888d3468ade62ba2ee4:1/1$</string>
            <key>textureFileName</key>
            <string>13031.png</string>
        </dict>
    </dict>
</plist>
