<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13042_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{181,120}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13042_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{181,88}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,67},{181,88}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13042_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{181,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,49},{181,92}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13042_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,121},{181,108}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{181,108}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13042_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{179,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,37},{179,118}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13042_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{181,118}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,38},{181,118}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13042_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{179,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,37},{179,118}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13042_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,230},{167,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,37},{167,118}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13042.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cef9ccd6d26ebaa57903f2548065cf90:1/1$</string>
            <key>textureFileName</key>
            <string>13042.png</string>
        </dict>
    </dict>
</plist>
