<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13052_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{122,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,36},{122,118}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,94}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{184,94}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{164,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{164,98}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{174,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{174,100}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,121},{120,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{120,104}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,103},{122,102}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,45},{122,102}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{118,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,36},{118,118}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,206},{118,102}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,45},{118,102}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,226},{110,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,51},{110,88}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,233},{106,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,50},{106,88}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,188},{48,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,73},{48,44}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13052_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,103},{84,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,61},{84,66}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13052.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba2b5c8971b3f5e6729cf51b9854904:1/1$</string>
            <key>textureFileName</key>
            <string>13052.png</string>
        </dict>
    </dict>
</plist>
