<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13061_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,250},{96,88}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,36},{96,88}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13061_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,365},{112,94}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,35},{112,94}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13061_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{106,118}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,45},{106,118}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13061_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{114,120}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,45},{114,120}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13061_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{224,122}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{224,122}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13061_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,126}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,39},{224,126}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13061_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,125},{206,128}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{206,128}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
            <key>13061_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{168,120}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{168,120}}</string>
                <key>sourceSize</key>
                <string>{236,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13061.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecc6bd7a465bfc304a5c5db6675075d6:1/1$</string>
            <key>textureFileName</key>
            <string>13061.png</string>
        </dict>
    </dict>
</plist>
