<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13071_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,254},{105,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,79},{105,28}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,435},{73,62}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,59},{73,62}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{73,62}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,61},{73,62}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,419},{73,40}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,68},{73,40}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,419},{71,42}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,67},{71,42}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,419},{71,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,74},{71,40}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,283},{105,102}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,43},{105,102}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,139},{105,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,38},{105,114}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,144}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,25},{105,144}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{105,142}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,26},{105,142}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{103,144}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,25},{103,144}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,147},{103,138}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,28},{103,138}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{103,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,28},{103,136}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
            <key>13071_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,286},{105,132}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,32},{105,132}}</string>
                <key>sourceSize</key>
                <string>{283,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13071.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9e4d9d35a73cdd729841e229689c2d4:1/1$</string>
            <key>textureFileName</key>
            <string>13071.png</string>
        </dict>
    </dict>
</plist>
