<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13072_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,197}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,20},{135,197}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{95,107}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,66},{95,107}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,440},{61,89}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,75},{61,89}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,440},{51,101}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,68},{51,101}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{135,115}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,64},{135,115}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{133,111}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,63},{133,111}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{113,115}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,63},{113,115}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,116},{113,113}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,60},{113,113}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,200},{121,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{121,121}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,322},{111,117}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,61},{111,117}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,230},{111,109}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,62},{111,109}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>13072_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,336},{123,117}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,57},{123,117}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13072.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7faf1561b973cd36157b069b5d43ab6:1/1$</string>
            <key>textureFileName</key>
            <string>13072.png</string>
        </dict>
    </dict>
</plist>
