<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30003_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,48},{55,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30003_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{53,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,49},{53,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30003_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,56},{53,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,51},{53,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30003_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,110},{51,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,51},{51,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30003_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,110},{51,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,51},{51,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30003_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{53,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,51},{53,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30003_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,106},{53,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,50},{53,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30003_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{53,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,50},{53,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30003.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11f8636e8f32bd0cd6930b4fcba3ddd9:1/1$</string>
            <key>textureFileName</key>
            <string>30003.png</string>
        </dict>
    </dict>
</plist>
