<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30009_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{51,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,52},{51,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30009_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,100},{47,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,52},{47,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30009_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{47,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,52},{47,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30009_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,100},{49,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,52},{49,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30009_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{53,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,52},{53,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30009_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{53,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,52},{53,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30009_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{53,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,52},{53,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30009_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,52},{53,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30009.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aaa48bdf4e9541754de829df0c1f489:1/1$</string>
            <key>textureFileName</key>
            <string>30009.png</string>
        </dict>
    </dict>
</plist>
