<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30006_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{69,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,40},{69,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30006_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,212},{69,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,40},{69,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30006_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{69,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,40},{69,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30006_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,142},{69,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,40},{69,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30006_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{69,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,40},{69,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30006_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,72},{69,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,40},{69,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30006_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,40},{71,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30006_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{69,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,40},{69,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30006.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f69e75d26c0de90ae953673dcf66cb1:1/1$</string>
            <key>textureFileName</key>
            <string>30006.png</string>
        </dict>
    </dict>
</plist>
