<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30013_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,43},{59,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30013_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{63,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,43},{63,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30013_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{63,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,44},{63,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30013_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,118},{63,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,44},{63,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30013_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,126},{59,113}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,44},{59,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30013_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,66},{59,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,43},{59,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30013_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,126},{57,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,44},{57,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30013_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{57,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,43},{57,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30013.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0f5af6a04ab9377c31c4f04738b58a6:1/1$</string>
            <key>textureFileName</key>
            <string>30013.png</string>
        </dict>
    </dict>
</plist>
