<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30011_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,38},{77,123}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30011_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,240},{75,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,39},{75,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30011_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{75,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,39},{75,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30011_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,164},{75,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,39},{75,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30011_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{77,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,39},{77,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30011_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,84},{79,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,39},{79,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30011_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{81,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,39},{81,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30011_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{81,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,39},{81,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30011.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b63e755b097d57bc049a2ac7ce8bacd:1/1$</string>
            <key>textureFileName</key>
            <string>30011.png</string>
        </dict>
    </dict>
</plist>
