<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30014_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,49},{47,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30014_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,156},{49,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,49},{49,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30014_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{51,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,49},{51,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30014_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,104},{51,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,50},{51,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30014_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{53,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,50},{53,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30014_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{53,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,50},{53,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30014_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{51,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,49},{51,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30014_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,104},{51,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,50},{51,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30014.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a04b1e31a1b9d8e868b61d1f780a8064:1/1$</string>
            <key>textureFileName</key>
            <string>30014.png</string>
        </dict>
    </dict>
</plist>
