<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30025_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,96},{47,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,54},{47,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30025_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{47,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,54},{47,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30025_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,190},{45,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,54},{45,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30025_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,50},{45,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,54},{45,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30025_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{45,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,54},{45,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30025_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{47,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,54},{47,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30025_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,52},{47,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30025_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{47,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,54},{47,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30025.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:945b64fe851df591b9cdc97fa11ecae2:1/1$</string>
            <key>textureFileName</key>
            <string>30025.png</string>
        </dict>
    </dict>
</plist>
