<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30022_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,45},{99,111}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30022_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{97,107}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,48},{97,107}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30022_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,298},{95,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,46},{95,109}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30022_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,202},{95,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,46},{95,109}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30022_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{99,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,46},{99,109}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30022_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,102},{99,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,46},{99,109}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30022_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{99,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,46},{99,109}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30022_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{99,109}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,47},{99,109}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30022.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69ade1234a1107bd01a8e7c077a15312:1/1$</string>
            <key>textureFileName</key>
            <string>30022.png</string>
        </dict>
    </dict>
</plist>
