<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30030_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{61,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,49},{61,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30030_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{61,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,50},{61,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30030_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,202},{65,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,50},{65,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30030_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{67,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,50},{67,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30030_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,134},{67,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,50},{67,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30030_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,64},{69,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,50},{69,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30030_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{67,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,50},{67,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>30030_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,49},{65,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30030.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:365ecceee9fa617a22a7ffcae71f1db0:1/1$</string>
            <key>textureFileName</key>
            <string>30030.png</string>
        </dict>
    </dict>
</plist>
