<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40005_1attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,289},{22,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,78}}</string>
                <key>sourceSize</key>
                <string>{22,78}</string>
            </dict>
            <key>40005_1attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,73},{22,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,68}}</string>
                <key>sourceSize</key>
                <string>{22,68}</string>
            </dict>
            <key>40005_1attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,104},{22,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,104}}</string>
                <key>sourceSize</key>
                <string>{22,104}</string>
            </dict>
            <key>40005_1attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,313},{24,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,78}}</string>
                <key>sourceSize</key>
                <string>{24,78}</string>
            </dict>
            <key>40005_1attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,178},{24,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,78}}</string>
                <key>sourceSize</key>
                <string>{24,78}</string>
            </dict>
            <key>40005_1attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{22,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,78}}</string>
                <key>sourceSize</key>
                <string>{22,78}</string>
            </dict>
            <key>40005_1dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{22,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,72}}</string>
                <key>sourceSize</key>
                <string>{22,72}</string>
            </dict>
            <key>40005_1dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,96},{26,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,66}}</string>
                <key>sourceSize</key>
                <string>{26,66}</string>
            </dict>
            <key>40005_1dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,214},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>40005_1dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,421},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>40005_1hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{22,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,72}}</string>
                <key>sourceSize</key>
                <string>{22,72}</string>
            </dict>
            <key>40005_1hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,436},{22,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,60}}</string>
                <key>sourceSize</key>
                <string>{22,60}</string>
            </dict>
            <key>40005_1hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,50},{22,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,70}}</string>
                <key>sourceSize</key>
                <string>{22,70}</string>
            </dict>
            <key>40005_1idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,266},{22,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,78}}</string>
                <key>sourceSize</key>
                <string>{22,78}</string>
            </dict>
            <key>40005_1idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,243},{22,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,78}}</string>
                <key>sourceSize</key>
                <string>{22,78}</string>
            </dict>
            <key>40005_1idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{22,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,78}}</string>
                <key>sourceSize</key>
                <string>{22,78}</string>
            </dict>
            <key>40005_1idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,243},{22,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,78}}</string>
                <key>sourceSize</key>
                <string>{22,78}</string>
            </dict>
            <key>40005_1run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{22,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,78}}</string>
                <key>sourceSize</key>
                <string>{22,78}</string>
            </dict>
            <key>40005_1run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{22,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,76}}</string>
                <key>sourceSize</key>
                <string>{22,76}</string>
            </dict>
            <key>40005_1run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,312},{22,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,76}}</string>
                <key>sourceSize</key>
                <string>{22,76}</string>
            </dict>
            <key>40005_1run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{22,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,78}}</string>
                <key>sourceSize</key>
                <string>{22,78}</string>
            </dict>
            <key>40005_1run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{22,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,76}}</string>
                <key>sourceSize</key>
                <string>{22,76}</string>
            </dict>
            <key>40005_1run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,257},{22,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,74}}</string>
                <key>sourceSize</key>
                <string>{22,74}</string>
            </dict>
            <key>40005_3attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,215},{80,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>40005_3attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,155},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>40005_3attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,202},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>40005_3attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>40005_3attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
            <key>40005_3attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,55},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>40005_3dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,157},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>40005_3dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,178},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>40005_3dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,204},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>40005_3dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,219},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>40005_3hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,123},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>40005_3hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,266},{80,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,46}</string>
            </dict>
            <key>40005_3hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,170},{82,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,44}}</string>
                <key>sourceSize</key>
                <string>{82,44}</string>
            </dict>
            <key>40005_3idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,106},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>40005_3idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,104},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>40005_3idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,127},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>40005_3idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>40005_3run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,53},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>40005_3run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{104,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,50}</string>
            </dict>
            <key>40005_3run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,53},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>40005_3run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{108,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,50}}</string>
                <key>sourceSize</key>
                <string>{108,50}</string>
            </dict>
            <key>40005_3run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>40005_3run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>40005_5attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>40005_5attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,404},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>40005_5attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,486},{22,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,58}}</string>
                <key>sourceSize</key>
                <string>{22,58}</string>
            </dict>
            <key>40005_5attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,256},{24,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,74}}</string>
                <key>sourceSize</key>
                <string>{24,74}</string>
            </dict>
            <key>40005_5attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,25},{24,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,70}}</string>
                <key>sourceSize</key>
                <string>{24,70}</string>
            </dict>
            <key>40005_5attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,327},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>40005_5dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>40005_5dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,155},{26,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,58}}</string>
                <key>sourceSize</key>
                <string>{26,58}</string>
            </dict>
            <key>40005_5dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,273},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>40005_5dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,427},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>40005_5hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>40005_5hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,304},{22,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,66}}</string>
                <key>sourceSize</key>
                <string>{22,66}</string>
            </dict>
            <key>40005_5hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,335},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>40005_5idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>40005_5idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,381},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>40005_5idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,358},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>40005_5idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>40005_5run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,322},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>40005_5run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,358},{22,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,62}}</string>
                <key>sourceSize</key>
                <string>{22,62}</string>
            </dict>
            <key>40005_5run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,427},{22,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,58}}</string>
                <key>sourceSize</key>
                <string>{22,58}</string>
            </dict>
            <key>40005_5run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,281},{22,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,66}}</string>
                <key>sourceSize</key>
                <string>{22,66}</string>
            </dict>
            <key>40005_5run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{22,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,60}}</string>
                <key>sourceSize</key>
                <string>{22,60}</string>
            </dict>
            <key>40005_5run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,436},{22,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,58}}</string>
                <key>sourceSize</key>
                <string>{22,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40005.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57c16f970b69be6b1464397c9cca67d8:1/1$</string>
            <key>textureFileName</key>
            <string>40005.png</string>
        </dict>
    </dict>
</plist>
