<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40003_1attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,401},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>40003_1attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,415},{86,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,120}}</string>
                <key>sourceSize</key>
                <string>{86,120}</string>
            </dict>
            <key>40003_1attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{68,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,128}}</string>
                <key>sourceSize</key>
                <string>{68,128}</string>
            </dict>
            <key>40003_1attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,494},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,114}}</string>
                <key>sourceSize</key>
                <string>{80,114}</string>
            </dict>
            <key>40003_1attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,360},{78,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,108}}</string>
                <key>sourceSize</key>
                <string>{78,108}</string>
            </dict>
            <key>40003_1attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,575},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>40003_1dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,306},{94,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>40003_1dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,296},{82,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,118}}</string>
                <key>sourceSize</key>
                <string>{82,118}</string>
            </dict>
            <key>40003_1dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,504},{82,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,110}</string>
            </dict>
            <key>40003_1dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{68,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,104}}</string>
                <key>sourceSize</key>
                <string>{68,104}</string>
            </dict>
            <key>40003_1hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,338},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>40003_1hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,469},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,114}}</string>
                <key>sourceSize</key>
                <string>{80,114}</string>
            </dict>
            <key>40003_1hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,719},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>40003_1idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,660},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>40003_1idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,644},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
            <key>40003_1idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,431},{72,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,118}}</string>
                <key>sourceSize</key>
                <string>{72,118}</string>
            </dict>
            <key>40003_1idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,583},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
            <key>40003_1run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,662},{72,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>40003_1run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,550},{78,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,104}</string>
            </dict>
            <key>40003_1run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,535},{74,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,112}}</string>
                <key>sourceSize</key>
                <string>{74,112}</string>
            </dict>
            <key>40003_1run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,439},{70,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,116}}</string>
                <key>sourceSize</key>
                <string>{70,116}</string>
            </dict>
            <key>40003_1run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>40003_1run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>40003_1run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,662},{72,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>40003_3attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,77},{168,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,84}}</string>
                <key>sourceSize</key>
                <string>{168,84}</string>
            </dict>
            <key>40003_3attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,162},{158,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,96}}</string>
                <key>sourceSize</key>
                <string>{158,96}</string>
            </dict>
            <key>40003_3attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,296},{126,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{126,92}</string>
            </dict>
            <key>40003_3attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>40003_3attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,75},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>40003_3attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{176,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,78}}</string>
                <key>sourceSize</key>
                <string>{176,78}</string>
            </dict>
            <key>40003_3dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,259},{146,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,100}}</string>
                <key>sourceSize</key>
                <string>{146,100}</string>
            </dict>
            <key>40003_3dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{144,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,76}}</string>
                <key>sourceSize</key>
                <string>{144,76}</string>
            </dict>
            <key>40003_3dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,239},{144,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,98}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>40003_3dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,142},{168,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,74}}</string>
                <key>sourceSize</key>
                <string>{168,74}</string>
            </dict>
            <key>40003_3hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,237},{146,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,100}}</string>
                <key>sourceSize</key>
                <string>{146,100}</string>
            </dict>
            <key>40003_3hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,231},{152,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,74}}</string>
                <key>sourceSize</key>
                <string>{152,74}</string>
            </dict>
            <key>40003_3hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,162},{160,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>40003_3idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{164,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,66}}</string>
                <key>sourceSize</key>
                <string>{164,66}</string>
            </dict>
            <key>40003_3idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,162},{166,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,76}}</string>
                <key>sourceSize</key>
                <string>{166,76}</string>
            </dict>
            <key>40003_3idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,77},{168,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,84}}</string>
                <key>sourceSize</key>
                <string>{168,84}</string>
            </dict>
            <key>40003_3idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,217},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>40003_3run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,75},{202,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,66}}</string>
                <key>sourceSize</key>
                <string>{202,66}</string>
            </dict>
            <key>40003_3run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{204,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,72}}</string>
                <key>sourceSize</key>
                <string>{204,72}</string>
            </dict>
            <key>40003_3run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,2},{202,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,74}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
            <key>40003_3run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{202,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,72}}</string>
                <key>sourceSize</key>
                <string>{202,72}</string>
            </dict>
            <key>40003_3run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{202,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,74}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
            <key>40003_3run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,72}}</string>
                <key>sourceSize</key>
                <string>{204,72}</string>
            </dict>
            <key>40003_3run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,75},{202,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,66}}</string>
                <key>sourceSize</key>
                <string>{202,66}</string>
            </dict>
            <key>40003_5attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{82,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,104}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>40003_5attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,710},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>40003_5attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,575},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>40003_5attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,610},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>40003_5attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,735},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>40003_5attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,486},{82,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{82,110}</string>
            </dict>
            <key>40003_5dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,575},{94,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{94,84}</string>
            </dict>
            <key>40003_5dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,658},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>40003_5dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,154},{82,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,104}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>40003_5dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,389},{70,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,122}}</string>
                <key>sourceSize</key>
                <string>{70,122}</string>
            </dict>
            <key>40003_5hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,610},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>40003_5hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,658},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>40003_5hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,629},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>40003_5idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,77},{76,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,106}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>40003_5idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,587},{74,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,108}}</string>
                <key>sourceSize</key>
                <string>{74,108}</string>
            </dict>
            <key>40003_5idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,510},{72,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,110}}</string>
                <key>sourceSize</key>
                <string>{72,110}</string>
            </dict>
            <key>40003_5idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,569},{74,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,108}}</string>
                <key>sourceSize</key>
                <string>{74,108}</string>
            </dict>
            <key>40003_5run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,502},{72,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,120}}</string>
                <key>sourceSize</key>
                <string>{72,120}</string>
            </dict>
            <key>40003_5run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,338},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>40003_5run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,460},{74,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,120}}</string>
                <key>sourceSize</key>
                <string>{74,120}</string>
            </dict>
            <key>40003_5run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{70,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,118}}</string>
                <key>sourceSize</key>
                <string>{70,118}</string>
            </dict>
            <key>40003_5run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,417},{76,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,120}}</string>
                <key>sourceSize</key>
                <string>{76,120}</string>
            </dict>
            <key>40003_5run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,360},{78,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,120}}</string>
                <key>sourceSize</key>
                <string>{78,120}</string>
            </dict>
            <key>40003_5run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,502},{72,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,120}}</string>
                <key>sourceSize</key>
                <string>{72,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40003.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ddcd2e7bb8772b8b15b8c7b86103bbd:1/1$</string>
            <key>textureFileName</key>
            <string>40003.png</string>
        </dict>
    </dict>
</plist>
