<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40004_1attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{60,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>40004_1attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,314},{64,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,100}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>40004_1attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,479},{52,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,102}}</string>
                <key>sourceSize</key>
                <string>{52,102}</string>
            </dict>
            <key>40004_1attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,265},{58,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,110}}</string>
                <key>sourceSize</key>
                <string>{58,110}</string>
            </dict>
            <key>40004_1attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,155},{60,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,110}}</string>
                <key>sourceSize</key>
                <string>{60,110}</string>
            </dict>
            <key>40004_1attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,371},{60,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>40004_1dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,537},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>40004_1dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{46,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,108}}</string>
                <key>sourceSize</key>
                <string>{46,108}</string>
            </dict>
            <key>40004_1dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,571},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>40004_1dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,558},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>40004_1hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,537},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>40004_1hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,324},{46,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,110}}</string>
                <key>sourceSize</key>
                <string>{46,110}</string>
            </dict>
            <key>40004_1hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,427},{46,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,120}}</string>
                <key>sourceSize</key>
                <string>{46,120}</string>
            </dict>
            <key>40004_1idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,474},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>40004_1idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,537},{60,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>40004_1idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,438},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>40004_1idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{60,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,88}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>40004_1run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,379},{58,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,96}</string>
            </dict>
            <key>40004_1run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,339},{38,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,126}}</string>
                <key>sourceSize</key>
                <string>{38,126}</string>
            </dict>
            <key>40004_1run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,106},{48,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,114}}</string>
                <key>sourceSize</key>
                <string>{48,114}</string>
            </dict>
            <key>40004_1run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,172},{54,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,94}}</string>
                <key>sourceSize</key>
                <string>{54,94}</string>
            </dict>
            <key>40004_1run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,57},{48,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,114}}</string>
                <key>sourceSize</key>
                <string>{48,114}</string>
            </dict>
            <key>40004_1run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,45},{38,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,126}}</string>
                <key>sourceSize</key>
                <string>{38,126}</string>
            </dict>
            <key>40004_3attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{114,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,54}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>40004_3attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{150,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>40004_3attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,241},{152,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,50}}</string>
                <key>sourceSize</key>
                <string>{152,50}</string>
            </dict>
            <key>40004_3attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,45},{176,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,38}}</string>
                <key>sourceSize</key>
                <string>{176,38}</string>
            </dict>
            <key>40004_3attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{176,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,40}}</string>
                <key>sourceSize</key>
                <string>{176,40}</string>
            </dict>
            <key>40004_3attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,131},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>40004_3dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,497},{90,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,52}</string>
            </dict>
            <key>40004_3dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{158,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>40004_3dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,432},{104,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,46}}</string>
                <key>sourceSize</key>
                <string>{104,46}</string>
            </dict>
            <key>40004_3dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,467},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>40004_3hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,497},{90,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,52}</string>
            </dict>
            <key>40004_3hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,178},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>40004_3hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>40004_3idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,216},{116,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,48}}</string>
                <key>sourceSize</key>
                <string>{116,48}</string>
            </dict>
            <key>40004_3idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>40004_3idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>40004_3idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,378},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>40004_3run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,292},{138,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,46}}</string>
                <key>sourceSize</key>
                <string>{138,46}</string>
            </dict>
            <key>40004_3run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{196,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,42}}</string>
                <key>sourceSize</key>
                <string>{196,42}</string>
            </dict>
            <key>40004_3run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>40004_3run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{132,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,52}}</string>
                <key>sourceSize</key>
                <string>{132,52}</string>
            </dict>
            <key>40004_3run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,84},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>40004_3run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,42}}</string>
                <key>sourceSize</key>
                <string>{196,42}</string>
            </dict>
            <key>40004_5attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,697},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>40004_5attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,612},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>40004_5attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>40004_5attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>40004_5attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,636},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>40004_5attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,656},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>40004_5dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,715},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>40004_5dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,589},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>40004_5dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,378},{88,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,42}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>40004_5dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,598},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>40004_5hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,715},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>40004_5hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,647},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>40004_5hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,267},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>40004_5idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,643},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>40004_5idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,762},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>40004_5idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,736},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>40004_5idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,717},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>40004_5run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,656},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>40004_5run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,550},{38,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,90}}</string>
                <key>sourceSize</key>
                <string>{38,90}</string>
            </dict>
            <key>40004_5run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,694},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>40004_5run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,736},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>40004_5run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,687},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>40004_5run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,532},{38,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,90}}</string>
                <key>sourceSize</key>
                <string>{38,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40004.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dddd9697901c459f3b8e2e39b4158cab:1/1$</string>
            <key>textureFileName</key>
            <string>40004.png</string>
        </dict>
    </dict>
</plist>
