<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40013_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{73,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,52},{73,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,290},{65,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,55},{65,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,338},{51,93}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,52},{51,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,290},{95,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,65},{95,71}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,74},{99,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,58},{99,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,51},{121,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{103,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,50},{103,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{91,97}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,52},{91,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,166},{91,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,52},{91,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{93,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,52},{93,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,254},{91,95}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,53},{91,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{93,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,53},{93,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{93,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,52},{93,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,160},{93,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,52},{93,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,72},{93,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,51},{93,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,196},{93,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,59},{93,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,98},{97,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,61},{97,79}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{103,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,65},{103,71}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{103,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,66},{103,69}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{101,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,65},{101,71}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40013_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,258},{95,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,61},{95,79}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40013.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d87979cb682da18eace2a7f5c9e9461:1/1$</string>
            <key>textureFileName</key>
            <string>40013.png</string>
        </dict>
    </dict>
</plist>
