<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40011_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,200},{57,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,50},{57,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{81,107}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,47},{81,107}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,260},{69,79}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,62},{69,79}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{103,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,71},{103,57}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,194},{101,67}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,66},{101,67}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{93,81}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,58},{93,81}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,216},{79,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,57},{79,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,118},{75,101}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,50},{75,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,132},{67,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,47},{67,105}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,64},{67,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,46},{67,107}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,118},{69,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,47},{69,105}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,188},{71,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,49},{71,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{79,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,50},{79,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,118},{83,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,51},{83,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,258},{79,97}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,51},{79,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{115,61}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,70},{115,61}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{111,59}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,71},{111,59}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,62},{111,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,73},{111,55}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,62},{111,55}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,73},{111,55}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{113,59}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,71},{113,59}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40011_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,61}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,70},{117,61}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40011.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f173cd05d6d141af60b7dd5dba6c6c74:1/1$</string>
            <key>textureFileName</key>
            <string>40011.png</string>
        </dict>
    </dict>
</plist>
