<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40010_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,54},{43,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,52},{43,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{51,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,48},{51,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{63,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,48},{63,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,73}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,64},{105,73}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{103,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,70},{103,61}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{91,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,67},{91,67}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,270},{71,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,56},{71,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{73,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,56},{73,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,70},{71,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,56},{71,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{73,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,57},{73,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,196},{73,87}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,57},{73,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,234},{75,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,58},{75,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{75,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,57},{75,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,128},{75,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,57},{75,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,120},{75,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,56},{75,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,204},{87,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,69},{87,63}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,66},{91,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,69},{91,61}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,64},{93,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,73},{93,55}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{93,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,74},{93,53}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,98},{91,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,71},{91,59}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40010_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,142},{87,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,69},{87,63}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40010.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b600684779cb71f4a6f1ff9e47980c77:1/1$</string>
            <key>textureFileName</key>
            <string>40010.png</string>
        </dict>
    </dict>
</plist>
