<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40012_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{45,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,46},{45,107}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{53,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,48},{53,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{73,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,39},{73,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,62},{121,77}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,216},{101,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,56},{101,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,140},{75,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,43},{75,111}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{43,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,44},{43,111}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,76},{63,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,43},{63,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,70},{63,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,43},{63,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,68},{63,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,43},{63,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,134},{65,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,44},{65,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,132},{67,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,44},{67,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{67,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,44},{67,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{67,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,43},{67,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{65,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,43},{65,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{103,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,58},{103,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{103,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,60},{103,81}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,342},{103,77}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,62},{103,77}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,342},{103,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,65},{103,71}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,238},{103,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,63},{103,75}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40012_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,318},{101,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,60},{101,81}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40012.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:844d6c3f80d86eb9b4c8466b1c34d9b6:1/1$</string>
            <key>textureFileName</key>
            <string>40012.png</string>
        </dict>
    </dict>
</plist>
