<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40022_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,214},{77,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,34},{77,131}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,222},{75,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,40},{75,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,50},{141,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,96},{117,83}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,59},{117,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,53},{87,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,298},{65,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,44},{65,109}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{139,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,48},{139,105}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,404},{63,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,49},{63,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{63,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,49},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,374},{61,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,49},{61,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{61,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,49},{61,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,404},{63,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{63,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,340},{63,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,50},{63,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,364},{63,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,50},{63,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,364},{63,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,49},{63,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,216},{129,123}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,39},{129,123}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,108},{131,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,44},{131,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{135,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,53},{135,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{135,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,51},{135,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{131,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,48},{131,105}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40022_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,98},{131,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,42},{131,117}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40022.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0714c4148e256c9dcc0a46baf7125630:1/1$</string>
            <key>textureFileName</key>
            <string>40022.png</string>
        </dict>
    </dict>
</plist>
