<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40027_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,210},{83,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,57},{83,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,82},{101,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,53},{101,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{91,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,41},{91,117}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,69},{137,63}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{133,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,59},{133,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{121,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,65},{121,71}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{105,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,61},{105,79}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,152},{57,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,56},{57,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,94},{57,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,56},{57,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,86},{57,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,56},{57,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,86},{57,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,56},{57,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{55,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,57},{55,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,222},{55,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,57},{55,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,176},{55,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,57},{55,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{55,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,56},{55,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,278},{67,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,58},{67,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{75,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,57},{75,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,178},{85,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,58},{85,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{77,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,60},{77,81}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,232},{71,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,58},{71,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40027_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,144},{77,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,57},{77,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40027.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77c94571b1c8063fbda8389235be322e:1/1$</string>
            <key>textureFileName</key>
            <string>40027.png</string>
        </dict>
    </dict>
</plist>
