<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40021_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,102},{75,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,54},{75,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{75,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,48},{75,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{103,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,50},{103,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{83,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,59},{83,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,178},{61,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,57},{61,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,154},{77,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,57},{77,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,56},{105,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{49,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,51},{49,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,102},{49,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,51},{49,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,52},{49,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,50},{49,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,52},{49,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,50},{49,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,52},{49,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,51},{49,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{49,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,51},{49,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{49,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,51},{49,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{49,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,51},{49,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,232},{53,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,58},{53,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,170},{63,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,56},{63,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{71,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,56},{71,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,214},{63,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,58},{63,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,152},{61,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,56},{61,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40021_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,102},{67,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,56},{67,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40021.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71ef46cf2bc321bf282561fad5de634b:1/1$</string>
            <key>textureFileName</key>
            <string>40021.png</string>
        </dict>
    </dict>
</plist>
