<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40020_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,258},{67,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,59},{67,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,56},{63,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{69,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,57},{69,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,132},{69,75}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,63},{69,75}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,70},{61,73}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,64},{61,73}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{67,73}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,64},{67,73}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,342},{61,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,60},{61,81}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,72},{61,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,57},{61,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,134},{59,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,57},{59,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{59,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,57},{59,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{59,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,58},{59,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,256},{61,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,58},{61,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{61,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,58},{61,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,194},{61,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,58},{61,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{61,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,57},{61,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,424},{45,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,59},{45,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,318},{53,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,58},{53,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{59,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,59},{59,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,202},{55,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,61},{55,79}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,424},{55,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,59},{55,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40020_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{61,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,58},{61,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40020.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc4599e3045622105bf8a5e8d0ea5ec:1/1$</string>
            <key>textureFileName</key>
            <string>40020.png</string>
        </dict>
    </dict>
</plist>
