<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40024_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,286},{143,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,33},{143,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{143,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,32},{143,137}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{143,139}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,31},{143,139}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,133}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,34},{215,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{167,131}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,35},{167,131}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,264},{143,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,32},{143,137}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,142},{143,141}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,30},{143,141}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,532},{125,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,32},{125,137}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,422},{125,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,32},{125,137}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{125,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,33},{125,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{125,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,33},{125,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,658},{125,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,33},{125,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,548},{125,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,33},{125,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{125,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,33},{125,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{125,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,32},{125,137}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,792},{119,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,32},{119,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,134},{149,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,36},{149,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{139,121}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,40},{139,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,800},{121,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,39},{121,121}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,674},{129,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,38},{129,125}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40024_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,402},{129,137}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,31},{129,137}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40024.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72bf16bd39bb0fe0a028cb62edcc56eb:1/1$</string>
            <key>textureFileName</key>
            <string>40024.png</string>
        </dict>
    </dict>
</plist>
