<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40023_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{85,135}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,33},{85,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,174},{87,131}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,36},{87,131}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,306},{89,129}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,36},{89,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,266},{89,133}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,34},{89,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,174},{91,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,32},{91,137}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,180},{91,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,33},{91,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{83,137}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,32},{83,137}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,442},{83,133}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,35},{83,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,440},{83,133}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,35},{83,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,272},{85,133}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,35},{85,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,436},{83,133}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,34},{83,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{83,133}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,34},{83,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,358},{83,133}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,35},{83,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,356},{83,133}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,35},{83,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{83,133}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,35},{83,133}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{87,143}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,29},{87,143}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,90},{83,143}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,29},{83,143}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,92},{87,139}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,32},{87,139}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{87,141}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,31},{87,141}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{89,143}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,29},{89,143}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40023_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,29},{89,143}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40023.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18de73da32d6589dbc1d7e15c814071c:1/1$</string>
            <key>textureFileName</key>
            <string>40023.png</string>
        </dict>
    </dict>
</plist>
