<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40029_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{103,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,50},{103,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,48},{81,105}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{71,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,57},{71,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,366},{79,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,61},{79,79}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,68},{67,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,59},{67,81}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{65,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,58},{65,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,96},{89,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,56},{89,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{77,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,54},{77,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,400},{79,91}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{79,91}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,186},{79,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,56},{79,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{79,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,56},{79,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,92},{77,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,56},{77,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,276},{75,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,56},{75,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{75,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,56},{75,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,306},{75,91}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,55},{75,91}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,92},{61,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,56},{61,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{59,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,54},{59,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{61,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,54},{61,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,182},{61,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,56},{61,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{63,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,54},{63,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40029_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,212},{63,91}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,55},{63,91}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40029.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3e2fc94fae12675517acb0275225ac8:1/1$</string>
            <key>textureFileName</key>
            <string>40029.png</string>
        </dict>
    </dict>
</plist>
