<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40030_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{75,129}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,39},{75,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{97,127}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,38},{97,127}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{113,117}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,43},{113,117}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,392},{113,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,42},{113,117}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,132},{109,123}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,40},{109,123}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,138},{95,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,36},{95,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,135}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,33},{71,135}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,262},{65,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,36},{65,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{65,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,36},{65,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,132},{65,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,36},{65,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,268},{65,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,36},{65,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{65,129}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,36},{65,129}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,270},{65,131}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,35},{65,131}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{67,131}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,35},{67,131}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{65,131}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,35},{65,131}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,374},{67,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,43},{67,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,120},{69,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,43},{69,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{73,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,44},{73,113}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,402},{77,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,42},{77,117}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,256},{73,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,42},{73,117}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40030_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,256},{67,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,42},{67,117}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40030.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:038d82d4c5802fa51fb50c53d9f574a6:1/1$</string>
            <key>textureFileName</key>
            <string>40030.png</string>
        </dict>
    </dict>
</plist>
