<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40031_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,208},{89,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,56},{89,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,172},{73,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,57},{73,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,57},{111,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{83,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{83,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{81,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,51},{81,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{57,95}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,52},{57,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,60},{49,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,52},{49,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,86},{43,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,52},{43,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,84},{43,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,52},{43,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,154},{43,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,53},{43,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,128},{43,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,53},{43,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,128},{43,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,53},{43,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{43,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,53},{43,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,110},{43,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,53},{43,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,84},{43,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,52},{43,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,130},{77,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,54},{77,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{81,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,52},{81,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,172},{75,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,54},{75,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{79,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,56},{79,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{85,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,57},{85,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>40031_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{75,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,54},{75,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>40031.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1187e761d575f648b123c88b8da6750f:1/1$</string>
            <key>textureFileName</key>
            <string>40031.png</string>
        </dict>
    </dict>
</plist>
