<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50004_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,74},{109,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,67},{109,67}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,206},{81,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,56},{81,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{125,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,46},{125,109}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{117,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,48},{117,105}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{119,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,65},{119,71}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{125,73}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,64},{125,73}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{131,63}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,112},{93,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,51},{93,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,334},{93,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,52},{93,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{93,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,52},{93,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{95,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,52},{95,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,142},{97,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,52},{97,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,108},{97,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,52},{97,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{97,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,52},{97,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,206},{95,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,52},{95,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,240},{63,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,57},{63,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,302},{67,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,54},{67,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,432},{75,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,57},{75,87}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,206},{75,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,59},{75,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,432},{75,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,56},{75,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50004_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{75,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,56},{75,89}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50004.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfaf3a51d70e124a48ba44cfda79e994:1/1$</string>
            <key>textureFileName</key>
            <string>50004.png</string>
        </dict>
    </dict>
</plist>
