<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50003_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{81,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,67},{81,67}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,150},{75,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{75,83}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,244},{95,91}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,55},{95,91}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{87,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,44},{87,111}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{141,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,70},{141,61}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{145,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{145,63}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,63}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,69},{149,63}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,244},{101,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,51},{101,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,350},{101,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,51},{101,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{101,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,51},{101,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,344},{101,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,52},{101,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,400},{101,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,52},{101,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,298},{101,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,52},{101,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{101,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,51},{101,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,164},{101,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,51},{101,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,150},{105,93}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,55},{105,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,194},{103,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,51},{103,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,84},{109,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,54},{109,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,64},{117,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,58},{117,85}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,66},{111,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,52},{111,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50003_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{113,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,53},{113,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50003.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:764ac8e635b5b8b5c05fd59a22d51e6a:1/1$</string>
            <key>textureFileName</key>
            <string>50003.png</string>
        </dict>
    </dict>
</plist>
