<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50005_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,362},{67,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,42},{67,117}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,178},{71,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,45},{71,111}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,250},{83,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,52},{83,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,198},{109,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,51},{109,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{111,99}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,50},{111,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,80},{111,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,51},{111,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{77,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,43},{77,115}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,242},{59,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,41},{59,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,122},{59,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,41},{59,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{59,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,41},{59,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,362},{59,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,41},{59,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{59,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,41},{59,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{61,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,41},{61,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{61,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,41},{61,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,41},{61,119}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,250},{107,93}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,54},{107,93}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,296},{103,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,52},{103,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,112},{105,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,53},{105,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{109,91}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,55},{109,91}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,102},{111,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,53},{111,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50005_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,218},{107,97}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,52},{107,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50005.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f910f3f57e0f1d38eaa3921c8ce2da5a:1/1$</string>
            <key>textureFileName</key>
            <string>50005.png</string>
        </dict>
    </dict>
</plist>
