<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50002_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,162}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,95},{236,162}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,161},{132,188}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,80},{132,188}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{148,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,95},{148,158}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{226,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,113},{226,126}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{210,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,109},{210,134}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{200,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,102},{200,148}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,129},{200,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,99},{200,154}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{170,196}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,63},{170,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,457},{170,196}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,63},{170,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,312},{172,196}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,63},{172,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,137},{174,196}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,63},{174,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,177},{172,196}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,63},{172,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{174,196}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,63},{174,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{172,196}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,63},{172,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,284},{172,196}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,63},{172,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,793},{122,160}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,96},{122,160}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,823},{124,164}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,94},{124,164}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{126,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,93},{126,166}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,628},{120,164}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,94},{120,164}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{132,164}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,94},{132,164}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50002_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,658},{128,164}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,94},{128,164}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50002.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb7e6a4cd289a29fae2e043cbd4aa639:1/1$</string>
            <key>textureFileName</key>
            <string>50002.png</string>
        </dict>
    </dict>
</plist>
