<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50007_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{114,202}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,75},{114,202}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{156,202}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,75},{156,202}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,159},{188,200}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,76},{188,200}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{164,208}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,72},{164,208}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,117},{192,200}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,76},{192,200}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,310},{146,200}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,76},{146,200}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,386},{178,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,77},{178,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,318},{146,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,77},{146,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{146,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,77},{146,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{146,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,78},{146,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{146,192}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,80},{146,192}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,457},{148,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,81},{148,190}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,495},{146,188}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,82},{146,188}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,465},{146,192}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,80},{146,192}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,348},{146,194}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,79},{146,194}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,191},{198,194}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,79},{198,194}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,167},{150,198}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,75},{150,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,612},{172,184}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,82},{172,184}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,81},{208,190}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{196,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,82},{196,188}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50007_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{182,174}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,89},{182,174}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50007.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a96986a155c26901b3c65d23dfd89b57:1/1$</string>
            <key>textureFileName</key>
            <string>50007.png</string>
        </dict>
    </dict>
</plist>
