<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50009_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,776},{210,244}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,52},{210,244}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,776},{222,230}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,59},{222,230}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,772},{238,206}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,73},{238,206}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{244,182}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,85},{244,182}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,166}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,93},{300,166}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{270,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,88},{270,176}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,185},{210,186}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,83},{210,186}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{240,204}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,74},{240,204}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,573},{242,202}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,75},{242,202}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{242,200}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,76},{242,200}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,372},{240,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,77},{240,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,372},{240,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,77},{240,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,374},{238,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,77},{238,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,571},{238,200}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,76},{238,200}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,573},{240,202}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,75},{240,202}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,185},{186,206}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,71},{186,206}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{208,182}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,85},{208,182}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{182,184}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,82},{182,184}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,179},{184,188}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,80},{184,188}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{208,192}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,80},{208,192}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50009_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,185},{188,194}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,77},{188,194}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50009.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df22884777c064b020cc7fbe92b57d2c:1/1$</string>
            <key>textureFileName</key>
            <string>50009.png</string>
        </dict>
    </dict>
</plist>
