<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50008_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{169,236}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,24},{169,236}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,244}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,19},{195,244}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{187,236}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,24},{187,236}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,715},{193,226}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,28},{193,226}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{147,214}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,35},{147,214}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,217},{159,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,36},{159,212}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{151,228}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,28},{151,228}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{105,234}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,26},{105,234}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,247},{105,234}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,24},{105,234}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,484},{105,234}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,26},{105,234}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,721},{105,234}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,26},{105,234}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,482},{109,232}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,27},{109,232}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,237},{109,230}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,27},{109,230}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,719},{109,232}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,27},{109,232}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{105,234}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,26},{105,234}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,458},{163,222}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,31},{163,222}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,468},{155,226}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,30},{155,226}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{173,224}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,31},{173,224}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,695},{175,222}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,32},{175,222}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,231},{151,226}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,30},{151,226}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
            <key>50008_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,227},{141,222}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,31},{141,222}}</string>
                <key>sourceSize</key>
                <string>{455,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50008.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37e0a82829306afa4fdffc631b31b235:1/1$</string>
            <key>textureFileName</key>
            <string>50008.png</string>
        </dict>
    </dict>
</plist>
