<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50010_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{142,204}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,72},{142,204}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{174,228}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,60},{174,228}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,177},{166,224}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,62},{166,224}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{254,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,78},{254,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,193},{186,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,67},{186,214}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{190,228}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,60},{190,228}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,344},{178,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,67},{178,214}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,380},{136,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,81},{136,190}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,517},{134,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,81},{134,190}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{130,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,81},{130,190}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{132,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,81},{132,190}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,557},{132,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,81},{132,190}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,879},{136,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,82},{136,188}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,690},{136,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,82},{136,188}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,815},{138,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,82},{138,188}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{212,178}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,87},{212,178}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{248,174}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,89},{248,174}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,182}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,85},{280,182}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,354},{202,212}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,68},{202,212}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,199},{154,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,67},{154,214}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50010_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,652},{178,176}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,88},{178,176}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50010.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2860520697b2f865e091efd5b3ff2501:1/1$</string>
            <key>textureFileName</key>
            <string>50010.png</string>
        </dict>
    </dict>
</plist>
