<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50015_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{142,224}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,64},{142,224}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,187},{144,256}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,48},{144,256}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{166,304}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,22},{166,304}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,169},{206,300}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,24},{206,300}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{184,308}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,20},{184,308}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,294}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,29},{338,294}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,764},{180,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,76},{180,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,650},{124,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,67},{124,214}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,551},{128,212}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,68},{128,212}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,376},{136,208}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,70},{136,208}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,376},{142,206}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,71},{142,206}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,865},{146,206}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,71},{146,206}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,880},{142,208}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,70},{142,208}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{138,212}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,68},{138,212}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,650},{132,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,67},{132,214}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,657},{162,222}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,63},{162,222}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,493},{156,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,62},{156,224}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,332},{160,228}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,60},{160,228}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{174,228}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,60},{174,228}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{184,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,62},{184,224}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50015_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,332},{180,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,65},{180,218}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50015.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adbc920dd3e42e020fc98ef1659714db:1/1$</string>
            <key>textureFileName</key>
            <string>50015.png</string>
        </dict>
    </dict>
</plist>
