<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50013_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,106},{87,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,51},{87,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{73,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,48},{73,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,210},{91,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,52},{91,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{87,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,45},{87,111}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,322},{93,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,49},{93,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,45},{93,111}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{75,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,49},{75,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{63,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,49},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,106},{63,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,49},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{63,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,49},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,218},{63,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,48},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,114},{63,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,48},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,330},{63,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,48},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,226},{63,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,49},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,330},{63,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,49},{63,103}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{95,95}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{95,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{81,95}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,53},{81,95}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,434},{71,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,51},{71,99}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{75,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,50},{75,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{83,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,51},{83,97}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
            <key>50013_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,424},{83,101}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,50},{83,101}}</string>
                <key>sourceSize</key>
                <string>{313,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50013.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d58a0f90dbceedd445b63800dd2b0a0:1/1$</string>
            <key>textureFileName</key>
            <string>50013.png</string>
        </dict>
    </dict>
</plist>
