<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50012_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,615},{146,172}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,88},{146,172}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,181},{90,172}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,88},{90,172}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,173},{146,160}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,94},{146,160}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{160,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,78},{160,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,220}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,66},{166,220}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{122,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,78},{122,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{106,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,85},{106,178}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{120,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,76},{120,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{120,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,78},{120,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{120,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,77},{120,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,223},{122,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,78},{122,196}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,814},{122,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,77},{122,194}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,420},{122,194}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,79},{122,194}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,619},{122,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,77},{122,194}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,199},{120,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,77},{120,194}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,354},{134,162}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,95},{134,162}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,788},{132,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,92},{132,168}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{136,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,91},{136,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,788},{144,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,92},{144,168}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,394},{134,172}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,90},{134,172}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50012_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,567},{138,166}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,91},{138,166}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50012.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bdbaf6e14a6189c18a36ce3b2b564ce:1/1$</string>
            <key>textureFileName</key>
            <string>50012.png</string>
        </dict>
    </dict>
</plist>
