<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50014_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,360}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,71},{496,360}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,746},{450,386}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,58},{450,386}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{490,386}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,58},{490,386}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1296},{390,374}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,64},{390,374}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,1570},{256,390}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,54},{256,390}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{256,396}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,51},{256,396}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1083},{256,416}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,41},{256,416}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,359},{458,368}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,67},{458,368}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{460,364}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,69},{460,364}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{462,358}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,72},{462,358}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{460,356}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,73},{460,356}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,367},{458,354}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,74},{458,354}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,389},{456,356}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,73},{456,356}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,722},{454,360}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,71},{454,360}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{454,366}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,68},{454,366}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1133},{248,414}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,44},{248,414}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1147},{230,422}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,38},{230,422}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,728},{286,422}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,40},{286,422}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,728},{244,418}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,40},{244,418}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1089},{220,442}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,30},{220,442}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
            <key>50014_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1015},{280,422}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,40},{280,422}}</string>
                <key>sourceSize</key>
                <string>{800,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50014.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5308428b6d9d8491a20dd2069803ec15:1/1$</string>
            <key>textureFileName</key>
            <string>50014.png</string>
        </dict>
    </dict>
</plist>
