<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>50011_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{228,216}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,68},{228,216}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,163},{150,200}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,74},{150,200}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,348},{136,198}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,75},{136,198}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{234,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,81},{234,190}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,130}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,111},{260,130}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,867},{170,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,107},{170,138}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{134,154}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,692},{172,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,91},{172,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,827},{170,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,91},{170,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,656},{170,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,91},{170,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{174,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,91},{174,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{176,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,91},{176,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,465},{178,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,91},{178,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{178,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,91},{178,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,485},{176,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,91},{176,170}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,193},{200,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,99},{200,154}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{208,160}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,96},{208,160}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{214,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,99},{214,154}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,318},{198,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,103},{198,146}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,314},{198,158}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,97},{198,158}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
            <key>50011_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,157},{200,160}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,96},{200,160}}</string>
                <key>sourceSize</key>
                <string>{550,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50011.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50fe014f5acb4b5c32df0daa466303eb:1/1$</string>
            <key>textureFileName</key>
            <string>50011.png</string>
        </dict>
    </dict>
</plist>
