<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effects_strength_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{206,152}}</string>
                <key>offset</key>
                <string>{48,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,13},{206,152}}</string>
                <key>sourceSize</key>
                <string>{302,304}</string>
            </dict>
            <key>effects_strength_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{274,112}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,73},{274,112}}</string>
                <key>sourceSize</key>
                <string>{302,304}</string>
            </dict>
            <key>effects_strength_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,188}}</string>
                <key>offset</key>
                <string>{5,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{292,188}}</string>
                <key>sourceSize</key>
                <string>{302,304}</string>
            </dict>
            <key>effects_strengthr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{160,144}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,74},{160,144}}</string>
                <key>sourceSize</key>
                <string>{302,304}</string>
            </dict>
            <key>effects_strengthr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,191},{134,136}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,77},{134,136}}</string>
                <key>sourceSize</key>
                <string>{302,304}</string>
            </dict>
            <key>effects_strengthr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,155},{234,200}}</string>
                <key>offset</key>
                <string>{-22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,46},{234,200}}</string>
                <key>sourceSize</key>
                <string>{302,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects_strength.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2e348633859f94f3b2d4f77e50bccb4:1/1$</string>
            <key>textureFileName</key>
            <string>effects_strength.png</string>
        </dict>
    </dict>
</plist>
