<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,23}}</string>
                <key>sourceSize</key>
                <string>{220,23}</string>
            </dict>
            <key>effect_upgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{175,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,85}}</string>
                <key>sourceSize</key>
                <string>{175,85}</string>
            </dict>
            <key>effect_upgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{185,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,94}}</string>
                <key>sourceSize</key>
                <string>{185,94}</string>
            </dict>
            <key>effect_upgrade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,97},{165,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,113}}</string>
                <key>sourceSize</key>
                <string>{165,113}</string>
            </dict>
            <key>effect_upgrade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,158},{161,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,125}}</string>
                <key>sourceSize</key>
                <string>{161,125}</string>
            </dict>
            <key>effect_upgrade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{161,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,124}}</string>
                <key>sourceSize</key>
                <string>{161,124}</string>
            </dict>
            <key>effect_upgrade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,211},{161,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,89}}</string>
                <key>sourceSize</key>
                <string>{161,89}</string>
            </dict>
            <key>effect_upgrade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{155,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,93}}</string>
                <key>sourceSize</key>
                <string>{155,93}</string>
            </dict>
            <key>effect_upgrade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{144,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,92}}</string>
                <key>sourceSize</key>
                <string>{144,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_upgrade.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6578cd29253e3b4dfc43a3c220e8e178:1/1$</string>
            <key>textureFileName</key>
            <string>effect_upgrade.png</string>
        </dict>
    </dict>
</plist>
