<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>effect_strength_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,128},{30,28}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,51},{30,28}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>effect_strength_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,228},{80,82}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,24},{80,82}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>effect_strength_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,128},{98,98}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{98,98}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>effect_strength_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,120},{106,106}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{106,106}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>effect_strength_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,2},{116,118}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{116,118}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>effect_strength_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{124,128}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{124,128}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>effect_strength.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5d471563939d6063d8dc0da1c74b153b$</string>
		<key>textureFileName</key>
		<string>effect_strength.png</string>
	</dict>
</dict>
</plist>
