<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hellking10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,180},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,180},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,180},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,269},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,887},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,786},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,685},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,584},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,863},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,483},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,382},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,281},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,180},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,764},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,665},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,899},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,566},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,798},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,697},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,596},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,495},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,467},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,394},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,293},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,192},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,368},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,899},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,798},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,697},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,596},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,269},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,495},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,394},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,293},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,192},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,180},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,91},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,180},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{88,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,180},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{88,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hellking9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{88,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hellking.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b591690e35e5e22a4bf489ca913efae7:1/1$</string>
            <key>textureFileName</key>
            <string>hellking.png</string>
        </dict>
    </dict>
</plist>
