<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>item_box_effect_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,124},{118,110}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{118,110}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,122},{120,114}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{120,114}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,256},{124,122}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,6},{124,122}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{120,120}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{120,120}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,2},{118,120}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,8},{118,120}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,2},{120,122}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{120,122}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,382},{122,122}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{122,122}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,382},{124,120}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{124,120}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{122,126}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{122,126}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>item_box_effect_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{122,124}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{122,124}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>item_box_effect.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f2421fa32ef53b60752f3ac2d95b5624$</string>
		<key>textureFileName</key>
		<string>item_box_effect.png</string>
	</dict>
</dict>
</plist>
