<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>skill_btn_effect_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{103,107}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,78},{103,107}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>skill_btn_effect_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,111},{225,227}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,15},{225,227}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>skill_btn_effect_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,340},{101,107}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,74},{101,107}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
		<key>skill_btn_effect_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,340},{107,101}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,80},{107,101}}</string>
			<key>sourceSize</key>
			<string>{255,255}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>skill_btn_effect.pvr.ccz</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:fb53a7752f0c162716466a343e8d20f2:1/1$</string>
		<key>textureFileName</key>
		<string>skill_btn_effect.pvr.ccz</string>
	</dict>
</dict>
</plist>
