<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>account_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{119,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,108}}</string>
			<key>sourceSize</key>
			<string>{119,108}</string>
		</dict>
		<key>account_login.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,2},{284,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,58}}</string>
			<key>sourceSize</key>
			<string>{284,58}</string>
		</dict>
		<key>account_mima.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,2},{93,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,54}}</string>
			<key>sourceSize</key>
			<string>{93,54}</string>
		</dict>
		<key>account_qrmima.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{155,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,67}}</string>
			<key>sourceSize</key>
			<string>{155,67}</string>
		</dict>
		<key>account_reg.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,112},{218,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,67}}</string>
			<key>sourceSize</key>
			<string>{218,67}</string>
		</dict>
		<key>account_shurukuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,181},{296,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,50}}</string>
			<key>sourceSize</key>
			<string>{296,50}</string>
		</dict>
		<key>account_small_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,181},{118,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,51}}</string>
			<key>sourceSize</key>
			<string>{118,51}</string>
		</dict>
		<key>account_yhum.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{114,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,67}}</string>
			<key>sourceSize</key>
			<string>{114,67}</string>
		</dict>
		<key>account_zhanghao.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,234},{92,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,54}}</string>
			<key>sourceSize</key>
			<string>{92,54}</string>
		</dict>
		<key>account_zhuczh.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,112},{218,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,67}}</string>
			<key>sourceSize</key>
			<string>{218,67}</string>
		</dict>
		<key>login_pages_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,234},{52,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,50}</string>
		</dict>
		<key>login_pages_pressing.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,234},{52,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,50}}</string>
			<key>sourceSize</key>
			<string>{52,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>app_login.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:52691b871bd340527a5e60319c37e105:1/1$</string>
		<key>textureFileName</key>
		<string>app_login.png</string>
	</dict>
</dict>
</plist>
