<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{242,64}}</string>
                <key>sourceSize</key>
                <string>{244,66}</string>
            </dict>
            <key>fight_text_KO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{73,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{73,44}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>fight_text_VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{184,222}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,222}}</string>
                <key>sourceSize</key>
                <string>{186,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_ui.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e7c335ec1624c5388df37a66cc954e6:1/1$</string>
            <key>textureFileName</key>
            <string>fight_ui.png</string>
        </dict>
    </dict>
</plist>
