<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_role_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,505},{294,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,82}}</string>
                <key>sourceSize</key>
                <string>{294,82}</string>
            </dict>
            <key>bigwin_score_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,708},{200,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,77}}</string>
                <key>sourceSize</key>
                <string>{200,77}</string>
            </dict>
            <key>bigwin_score_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,411},{200,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,77}}</string>
                <key>sourceSize</key>
                <string>{200,77}</string>
            </dict>
            <key>bigwin_score_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,921},{225,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,84}}</string>
                <key>sourceSize</key>
                <string>{225,84}</string>
            </dict>
            <key>bigwin_score_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,833},{245,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,87}}</string>
                <key>sourceSize</key>
                <string>{245,87}</string>
            </dict>
            <key>bigwin_score_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{246,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,87}}</string>
                <key>sourceSize</key>
                <string>{246,87}</string>
            </dict>
            <key>bigwin_score_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,506},{326,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,120}}</string>
                <key>sourceSize</key>
                <string>{326,120}</string>
            </dict>
            <key>chest_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,708},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>chest_box_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,489},{172,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,218}}</string>
                <key>sourceSize</key>
                <string>{172,218}</string>
            </dict>
            <key>chest_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,489},{172,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,218}}</string>
                <key>sourceSize</key>
                <string>{172,218}</string>
            </dict>
            <key>icon_cao_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,411},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>icon_cristal.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,411},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>icon_hp_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,764},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>icon_mp_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,708},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>role_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{383,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,408}}</string>
                <key>sourceSize</key>
                <string>{383,408}</string>
            </dict>
            <key>role_divide_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{424,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,61}}</string>
                <key>sourceSize</key>
                <string>{424,61}</string>
            </dict>
            <key>role_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,506}}</string>
                <key>sourceSize</key>
                <string>{48,506}</string>
            </dict>
            <key>role_row_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1006},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>slider_normal_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,800},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>slider_select_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,882},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_panel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1572127743843f29420531c8b8b6abd2:1/1$</string>
            <key>textureFileName</key>
            <string>role_panel.png</string>
        </dict>
    </dict>
</plist>
