<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{422,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,23}}</string>
                <key>sourceSize</key>
                <string>{422,23}</string>
            </dict>
            <key>load_progress_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{549,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,41}}</string>
                <key>sourceSize</key>
                <string>{549,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>update_ui.png</string>
            <key>size</key>
            <string>{64,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebb271789c85e905e46974e3500692d9:1/1$</string>
            <key>textureFileName</key>
            <string>update_ui.png</string>
        </dict>
    </dict>
</plist>
