<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_sale_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{100,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{100,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,172},{136,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,33},{136,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,334},{146,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{146,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{160,156}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{160,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,174}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{166,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_crystal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,103},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{86,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_crystal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,329},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{118,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_crystal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{146,146}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{146,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_crystal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,177},{132,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{132,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>icon_sale_crystal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{142,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{142,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,149},{59,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,25}}</string>
                <key>sourceSize</key>
                <string>{59,25}</string>
            </dict>
            <key>vip_num_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,149},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>vip_num_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,309},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>vip_num_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,149},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>vip_num_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,481},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>vip_num_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,149},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>vip_num_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,481},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>vip_num_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,481},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>vip_num_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,481},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>vip_num_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,481},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>vip_num_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,481},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_ui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e73ffc2e66f033f90dedd20ec5cca4fa:1/1$</string>
            <key>textureFileName</key>
            <string>vip_ui.png</string>
        </dict>
    </dict>
</plist>
